body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: auto;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #ddd;
}

td.completed {
  background-color: #8bc34a;
}

td.failed {
  background-color: #f44336;
}
